
<div class="row mb-3">
  <div class="col-lg-4 offset-lg-2">
      <% @posts.each do |post| %>
        <%= post.title %>
                   <a href="/posts/<%= post.id %>">
            Show details
          </a>

           <a  href="/posts/<%= post.id %>">
           <img src="<%= post.photo1 %>" class="img-fluid">
          </a>
      <% end %>
  </div>
  <div class="col-lg-4">
  </div>


</div>

<hr>

<div class="card-columns">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
